*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    background-color: #fff ;
    border-radius: 8px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
    padding: 30px;
    overflow: hidden;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 1.2rem;
}

.form-group {
    margin-bottom: 20px;
    position: relative;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight:bold;
}
input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    font-size: 14px;
    padding: 10px;
    transition: border-color 0.3s;
}

input:focus{
    outline: none;
    border-color: rgb(0, 166, 255);
}

small {
    visibility: hidden;
    position: absolute;
    bottom: -18px;
    left: 0;
    font-size: 12px;
}

button {
    cursor: pointer;
    background-color: rgb(44, 173, 243);
    border: none;
    color: white;
    display: block;
    font-size: 1rem;
    margin-top: 20px;
    padding: 12px;
    border-radius: 5px;
    width: 100%;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgb(32, 135, 191);
}

.form-group.error input {
    border-color: red;
}

.form-group.success input {
    border-color: greenyellow;
}

.form-group.error small {
    visibility: visible;
    color: red;
}
